SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_KEY=YOUR_SUPABASE_KEY
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
ACCOUNT_ID=YOUR_CLOUDFLARE_ACCOUNT_ID
CLOUDFLARE_API_TOKEN=YOUR_CLOUDFLARE_API_TOKEN
CLOUDFLARE_LIST_ID=YOUR_CLOUDFLARE_LIST_ID
CLOUDFLARE_EMAIL=YOUR_CLOUDFLARE_EMAIL
CLOUDFLARE_API_KEY=YOUR_CLOUDFLARE_API_KEY